.header__image{
  background-image: url(../../../images/header__image.png);
  width: 100%;
  height: 993px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

}

@media (max-width: 1024px){
  .header__image{
    height: 643px;
    background-size: cover;
  }
}

@media (max-width: 768px){
  .header__image{
    height: 483px;
  }
}

@media (max-width: 480px){
  .header__image{
    height: 453px;
  }
}
