.features__title{
  margin: 0;
  padding: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.features__title::before{
  padding: 20px 0px;
  margin-right: 10px;
}


