.footer__location{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.footer__location::before{
  content: url(../../../images/footer__location.svg);
}
